<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bg">
    <ion-icon name="book"></ion-icon>
    <ion-card-title class="Name">AXIE INFINITY GAME</ion-card-title>
<ion-card-content>
  <ion-item>
    <ion-icon  name="person-circle-outline"></ion-icon>
    <ion-label>Username : </ion-label>
    <ion-input></ion-input>
  </ion-item>

 <ion-item>
  <ion-icon name="key-outline"></ion-icon>
    <ion-label>Password   : </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button>
    <ion-button href="tabs/tab1" class="button" color="primary">Sign In</ion-button>
  </ion-button>
  <ion-button>
    <ion-button href="signup" class="button" color="primary">Sign up</ion-button>
  </ion-button>
  
</ion-card-content>
</ion-card>
 
  

</ion-content>