<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>ABOUT US</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Become a land baron and start your own Kingdom! Use land to farm rare resources, tokens, and attack dungeons!
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>HOMEPAGE</ion-label>
  </ion-item>
<ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-button href="signin" class="button" color="primary">LOG OUT</ion-button>
